@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#020617];
  }
}

.glass-panel {
  @apply bg-white/5 backdrop-blur-xl border border-white/10 rounded-[2rem];
}

.glow-icon {
  filter: drop-shadow(0 0 10px rgba(59, 130, 246, 0.4));
}
